
.banner{
    background:url('../../img/Group\ 1.png');
  
    background-position:  center;
    background-repeat: no-repeat;
    height: 850px;
    /* background-size: cover; */
}
.available-game-banner{
    background:url('../../img/Group 51.png');
    background-position:  center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    margin: 0;

}

/* //---------------button style................... */

.footer-bg{
    background-color:#010633 ;
}
/* //---------------button style................... */

.hero-section-1{
    background:url('../../img/Group 24.png');
    background-position:  center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    margin: 0;
}

.hero-section-2{
    background:url('../../img/Group 26.png');
    background-position:  center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    margin: 0;
}